@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2> <br><br>
<h4>@ViewData["Message"]</h4>

<div>
    That is my first project web mvc from the c# course<br>
    It is a web app for  sales management

</div>
