@{
    ViewData["Title"] = "Contact Page";
}
<h4>@ViewData["Title"]</h4> <br />

<div>
    <h5>Lucas Taveira</h5>
   <a href="https://www.linkedin.com/in/lutagon/">https://www.linkedin.com/in/lutagon/ </a> <br/>
    <a href="https://github.com/LucasTaveiraGon">Gits Projects</a>
</div>

<address>
    <strong>E-mail:</strong> <a href="mailto:lucastaveirag@gmail.com">lucastaveirag@gmail.com</a><br />
</address>
