@{
    ViewData["Title"] = "About";
}

<div class="text-center">
    <h1 class="display-4">About</h1>
    <p>@ViewData[Message] <a href="https://www.linkedin.com/in/lutagon/"> Personal contact</a>
         <a href="https://github.com/LucasTaveiraGon/SalesWebMvcNewPrj"> Link to personal Repositorie</a>
         @ViewData[email] @ViewData["Ass"]</p>
</div>
